:root {
    --background-offblack: #433F3F;
    --background-black: #332f2f;
    --background-black-hover: #4c4e53;
    --background-contrast: #d1d4dd;
    --button-main: #70e882;
    --button-main-hover: #7cc687;
    --font-main: #e9edf7;
    --font-dark: #332f2f;
    --font-secondary: #332f2f;
    /* --font-input:  */
}



/* || Navbar */

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    /* height: 65px; */
    min-height: 7vh;
    background-color:var(--background-offblack);
    z-index: 10;
}

.navbar-menu {
    display: flex;
    gap: 20px;
    margin: auto 20px auto;
}

/* || Grid */

.grid-container {

}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    background-color: var(--background-offblack);
    /* width: 100%; */
}

.grid-card {
    width: 175px;
    height: 200px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-black);
    font-size: 10px;
}

.grid-card > svg {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto auto auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.grid-card:hover {
    background-color: var(--background-black-hover);
}

.grid-card-image {
    width: 125px;
    height: 125px;
    margin: auto;
    border-radius: 5px;
}

.grid-card-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/* || Shelf */

.shelf {
    /* margin-top: 8vh; */
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: var(--background-offblack);
    z-index: 5;
}

.shelf-card {
    width: 150px;
    height: 180px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-black);
    transition: all 0.5s;
}

.shelf-card-image {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 5px;
}

.shelf-card:hover {
    background-color: var(--background-black-hover);
    transform: scale(1.4) translateY(25px);
    box-shadow: 1px 1px 10px rgba(40, 40,40, 0.5);
    z-index: 11;
}


/* || Search */

.search-input {
    color: var(--background-black);
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    line-height:2em;
    font-size: 18px
}

.search-row {
    /* height: 3rem; */
}
.search-row-details {
    display: flex;
    flex-direction: column;
}


.search-row-details-name {
    font-size: 18px;
    color: var(--font-dark);
    /* background-color: red; */
}

.search-row-details-artist {
    font-size: 12px;
    color: var(--font-secondary);
    /* background-color: blue; */
}
.search-row-btn {
    background-color: var(--button-main);
    border-radius: 5px;
    padding: 3px;
    color: var(--font-dark);
    margin: 3px;
    margin-right: 10px;
    transition: all 0.2s
}

.search-row-btn:hover {
    /* background-color: var(--button-main-hover); */
    /* background-color: var(--background-black-hover); */
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(40, 40,40, 0.5);
    /* z-index: 11; */

}
/* || Misc */
.greeting {
    font-size: 32px;
    margin: auto 0px auto 20px;
}