@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* color: #e9edf7; */
}

:root {
  --background-offblack: #433F3F;
  --background-main: #3D485C;
  --background-input: #cfd5e0;
  background-color: var(--background-main);
}

body, html {
  background: linear-gradient(var(--gradient-bg-color), rgb(0,0,0));
  /* Ok this was pretty cool, the gradient will gradually increase as you scroll instead of all at once */
  background-attachment: fixed;
  color: white;

  /* overflow: hidden; */
  /* height: 100%; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* || VIEWS */

.view {
  /* min-height: 100vh; */

}

.loading {
  /* background-color: var(--background-main); */
}

.home {
  position: relative;
  flex: 1;
  
}

.dashboard {
  background-color: var(--background-main);
  /* min-height: 100vh; */
  position: relative;
}
/* ||  */

.login {
  background-color: var(--background-main);
  height: 100vh;
}
/* || BUTTONS */

.btn {
  border-radius: 5px;
}

.login-btn{
  background-color: green;
  display: block;
  width: 150px;
  height: 50px;
  padding: 10px;
  text-align: center;
  /* border-radius: 5px; */
  color: black;
  font-weight: bold;
  line-height: 35px;
  font-size: 20px;
  text-decoration: none;
  margin: auto;
}

/* || Containers */



.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100vh;
  /* height: 93vh; */
  margin: 5px;
  margin-top: 8vh;
}

.container-view {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 5px;
}

.search-sidebar {
  display: flex;
  position: fixed;
  top: 7vh;
  bottom: 0;
  right: 0;
  z-index: 12;
  flex-direction: column;
  width: 25%;
  /* height: 70%; */
  max-height: 100vh;
  background-color: var(--background-input);
  overflow-y: scroll;
}


/* background-color: var(--background-black-hover);
transform: scale(1.4) translateY(25px);
box-shadow: 1px 1px 10px rgba(40, 40,40, 0.5);
z-index: 11; */
